doctype html
html
    head
        include head.pug
    body
        .container.mt-3
            h2 Form Action Menu
            p Please select form bellow:
            form(action='/home/choose-action'  method='POST')
                select.custom-select.mb-3(name='action_form')
                    option(value='create_category') Create Category
                    option(value='input_product') Input Product
                button.btn.btn-primary(type='submit') Submit

