doctype html
head
    include head.pug
body
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
        a.navbar-brand(style='color:#D4AF37' href='/')
            img.d-inline-block.align-top(src='/public/assets/logo-als.svg' width='30' height='30' alt='Animal Leather Strap')
            |     Animal Leather Strap
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.dropdown
                    a#navbarDropdownProduct.nav-link.dropdown-toggle(style='color:#D4AF37' href='/product' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Product
                    - var idx=0; 
                    .dropdown-menu(style='color:#D4AF37' aria-labelledby='navbarDropdownProduct')
                        each val in category_name
                            a.dropdown-item(style='color:#D4AF37' href="/product/"+category_url[idx])=category_name[idx]
                            - idx++
                li.nav-item.active
                    a.nav-link(style='color:#D4AF37' href='/contact')
                        | Contact
                        span.sr-only (current)
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-warning.my-2.my-sm-0(type='submit') Search


            div(class="container-fluid text-center" style='max-width:1200px; padding-top: 70px')
                .row.justify-content-center
                .title.col-12.col-lg-8
                h2.mbr-section-title.align-center.pb-3.mbr-fonts-style.display-5 QUESTIONS - INFORMATION - ORDERS
                h3.mbr-section-subtitle.align-center.mbr-light.pb-3.mbr-fonts-style.display-4
                    | Feel free to contact me so that we can discuss all possibilities and your requirements. 
                    br
                    | Prices are fixed and I will always inform you upfront about costs. 
                    br
                    | So send me an e-mail on 
                    strong
                    a(href='mailto:izzul@strapkulit.com') izzul@strapkulit.com
                    |  or fill in the contact form below. 
                    br
                    | I will get back to you as soon as possibe.

                .container.text-center
                    .row.justify-content-center
                        .media-container-column.col-lg-12(data-form-type='formoid')
                            div(data-form-alert='' hidden='')
                                | Thanks for filling out form!
                                | Just to be sure: Please also check your SPAM folder for my answer ;-)
                            form.mbr-form(action='/home/mailhandler' method='post' data-form-title='Mobirise Form')
                                input(type='hidden' name='email' data-form-email='true' data-form-field='Email')
                                .row.row-sm-offset
                                    .col-md-4.multi-horizontal(data-for='name')
                                        .form-group
                                            label.form-control-label.mbr-fonts-style.display-7(for='name-form1-wv') Name
                                            input#name-form1-wv.form-control(type='text' name='name' data-form-field='Name' required='')
                                    .col-md-4.multi-horizontal(data-for='email')
                                        .form-group
                                            label.form-control-label.mbr-fonts-style.display-7(for='email-form1-wv') Email
                                            input#email-form1-wv.form-control(type='email' name='email' data-form-field='Email' required='')
                                    .col-md-4.multi-horizontal(data-for='phone')
                                        .form-group
                                            label.form-control-label.mbr-fonts-style.display-7(for='phone-form1-wv') Phone
                                            input#phone-form1-wv.form-control(type='tel' name='phone' data-form-field='Phone' placeholder='please include country code:')
                                .form-group(data-for='message')
                                    label.form-control-label.mbr-fonts-style.display-7(for='message-form1-wv') Message / Question
                                    textarea#message-form1-wv.form-control(type='text' name='message' rows='7' data-form-field='Message' placeholder='please leave your message incl country, watch and strap style/name:')
                                span.input-group-btn
                                    button.btn.btn-primary.btn-form.display-4(href='' type='submit') SEND FORM

    br
    br
    footer
        include footer.pug

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')


