html
    head
        include head.pug
    body
        .input-product-form
            h1 Create Category
            form(action='/home/create-category' method='POST')
                .form-group
                    label(for='categoryId') Category Id
                    input(type='text' name='category[id]' placeholder='Id Category' required='')
                .form-group
                    label(for='categoryName') Category Name                
                    input(type='text' name='category[name]' placeholder='Category Name' required='')
                - var idx=0;
                .form-group
                    label(for='categoryList') List of Category      
                    br          
                    select(name='list-category')
                        each val in category_name
                            option(value=category_id[idx])=category_name[idx] 
                            - idx++
                .form-group
                    input(type='submit' value='submit')
                