//- includes/footer.pug
footer
    .container
    .media-container-row.content.text-white
        .col-12.col-md-3
        .media-wrap
            a(href='http://handmadewatchstrap.com')
            img(src='assets/images/mark-sanders-handmade-watch-strap-1-1280x853.jpg' alt='Mobirise' title='')
        .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
            | Address
        p.mbr-text
            | M.H.T. Sanders
            br
            | PO Box 239
            br
            | &#x2028;5580 AE &nbsp;Waalre&#x2028;
            br
            | The Netherlands
            br
            br
            br
            | Company registration / KvK: 64583228&nbsp;
            br
        .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
            | Contact
        p.mbr-text
            | Email: 
            br
            | mark@handmadewatchstrap.com&nbsp;
            br
            | mhtsanders@gmail.com
            br
            br
            br
            | whatsapp:
            br
            |  +31 (0) 624495378
        .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
            | Links
        p.mbr-text
        p
            a.text-primary(href='mailto:mark@handmadewatchstrap.com') mark@handmadewatchstrap.com
        p
            a(href='mailto:mhtsanders@gmail.com') mhtsanders@gmail.com
        p
    .footer-lower
        .media-container-row
        .col-sm-12
            hr
        .media-container-row.mbr-white
        .col-sm-6.copyright
            p.mbr-text.mbr-fonts-style.display-7
            | Specialized in handmade watch&nbsp;straps for high end watches like:&nbsp;Panerai, IWC, Omega, Rolex, Ennebi, Bell &amp; Ross, Audemars Piguet, Ulysse Nardin, Hublot, Patek Phillipe, Cartier, Blancpain, Breitling, Meistersinger, Mont Blanc, Oris and Tudor
            br
            br
            | DISCLAIMER:
            br
            | &#x2028;Watches shown on this website are my personal or customers watches, with the only purpose of demonstrating my handmade watch straps&nbsp;and other products.&nbsp;I am not affiliated and/or officially endorsed by Officine Panerai, Richmond SA or any other watch company
            br
            br
            | &copy; Copyright 2018  M.H.T. Sanders - All Rights Reserved
            br
        .col-md-6
            .social-list.align-right
            .soc-item
                a(href='https://www.linkedin.com/in/mark-sanders-a5487111/' target='_blank')
                span.mbr-iconfont.mbr-iconfont-social.socicon-linkedin.socicon
