footer#strapkulit-footer
  .card.text-center.bg-dark
    .card-body(style='color:#D4AF37')
      h5.card-title Animal Leather Straps
      ul.list-inline
          li.list-inline-item
            a.footer-link(href='/product' style='color:#D4AF37') Product
          li.list-inline-item
            a.footer-link(href='/contact' style='color:#D4AF37') Contact

    .card-footer.text-muted
      div#footer-copyright © strapkulit.com. Hak Cipta Dilindungi
