//- includes/head.pug
head
  meta(name='description' content='handmade leather craft, using quality leather with experienced leather craftsmen, our products are watch straps, camera straps, and others. for orders, you can directly contact \"marketing@strapkulit.com\"')
  title Strap Kulit - Handmade Process - Watch Straps - Camera Straps - Quality
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-150967903-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150967903-1');

  // Required meta tags
  meta(charset='utf-8')
  meta(http-equiv = "content-language" content = "en") 
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  //link(href="views/css/bootstrap.min.css" rel="stylesheet")
  link(rel='apple-touch-icon' href='/public/assets/apple-touch-icon.png')
  link(rel="icon" type="image/png" sizes="144x144" href="/public/assets/Logo-als.png")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  style.
    .carousel-inner > .carousel-item > img {
    width:1360px;
    height:1020px;
    } 
    .input-product-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    }
    .input-product-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
    }
    .input-product-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
    }
    .select-product-form select {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    }
    .input-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color:
      #ffffff;
    }
