doctype html
html
   head
      include head.pug
   body
    .input-product-form
        h1 Input Product Form
        form(action='/home/input-product' enctype='multipart/form-data' method='POST')
            .form-group
                label(for='Username') Username
                input(type='text' name='username' value=username readonly="readonly")
            .form-group
                label(for='productName') Product Name
                input(type='text' name='product[name]' placeholder='Product Name' required='')
            .form-group
                label(for='productSize') Product Size
                input(type='text' name='product[size]' placeholder='Size')
            .form-group
                label(for='productPrice') Product Price
                input(type='text' name='product[price]' placeholder='Price')
            .form-group
                label(for='productDescription') Product Description
                textarea#productDescription.form-control(name='product[description]' rows='8')
            - var idx=0;
            .form-group
                label(for='productCategory') Product Category 
                br           
                select(name='category')
                    each val in category_name
                        option(value=category_id[idx])=category_name[idx] 
                        - idx++
            .form-group
                input(type='file' name='imgStraps' multiple='')
            .form-group
                input(type='submit' value='Upload a file')