doctype html
head
    include head.pug
body(data-spy="scroll" data-target=".navbar" data-offset="50")
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
        a.navbar-brand(style='color:#D4AF37' href='/')
            img.d-inline-block.align-top(src='/public/assets/logo-als.svg' width='30' height='30' alt='')
            |     Animal Leather Strap
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.dropdown
                    a#navbarDropdownProduct.nav-link.dropdown-toggle(style='color:#D4AF37' href='/product' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Product
                    - var idx=0; 
                    .dropdown-menu(style='color:#D4AF37' aria-labelledby='navbarDropdownProduct')
                        each val in all_category_name
                            a.dropdown-item(style='color:#D4AF37' href="/product/"+all_category_url[idx])=all_category_name[idx]
                            - idx++
                li.nav-item.active
                    a.nav-link(style='color:#D4AF37' href='/contact')
                        | Contact
                        span.sr-only (current)
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-warning.my-2.my-sm-0(type='submit') Search

    .container-fluid(class='text-centre' style='max-width:1500px; padding-top: 70px')
        // Content here 
        hr
        h3 Catalog 
        hr
        - var idx=0; 
        .row
            each val in all_category_name
                .col-md-6
                    br
                    a(href="/product/"+all_category_url[idx])
                            img.img-fluid(src=location_img[idx] class="img-responsive")
                            .carousel-caption
                                h5=all_category_name[idx]
                  
                - idx++
    br
    br
    footer
        include footer.pug

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
