doctype html
head
    include head.pug
body
    // Navbar
    .container-fluid(style='max-width: 1200px')
        // Snippet
        hr.style5
        nav(aria-label='breadcrumb')
            ol.breadcrumb(style='background-color: white; border-color: white')
                li.breadcrumb-item
                    a(href='/') home
                li.breadcrumb-item
                    a(href='/product') product
                li.breadcrumb-item
                    a(href='/product/'+category_url)=category_url
                li.breadcrumb-item.active(aria-current='page')=product_name
        // Snippet
        hr.style5
    // Page Content
    .container-fluid.text-center(style='max-width:1200px')
        // PRODUK LIST
        // Create Pagination in Produk list
        // <div class="container text-center">
        h3(style="font-family: 'Playfair Display', serif; text-align: center")
            b=product_name
        // Snippet
        hr.style5
        .container.text-center
            .row
                .col-sm-6
                    - var idx_img = 0; 
                    #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
                        .carousel-inner(style="height:300;width=80")
                            each val in location_img
                                if idx_img == 0 
                                    .carousel-item.active
                                        img.d-block.w-100(src=location_img[idx_img] class="img-responsive" style="height:auto;" alt='First slide')
                                        .carousel-caption.d-none.d-md-block(style="bottom: 10%;transform: translateY(-50%);")
                                            h5=product_name     
                                else if idx_img >= 1           
                                    .carousel-item
                                        img.d-block.w-100(src=location_img[idx_img] class="img-responsive" style="height: auto;" alt='Second slide')
                                        .carousel-caption.d-none.d-md-block(style="bottom: 10%;transform: translateY(-50%);")
                                            h5=product_name
                                - idx_img++

                            a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev' )
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next' )
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                .col-sm-6
                    p(style="font-family: 'Playfair Display', serif;").text-left Price : !{product_price} / !{product_price_usd}
                    hr.style5
                    //- p(style="font-family: 'Playfair Display', serif;").text-left Size : !{product_size}
                    //- hr.style5
                    p(style="font-family: 'Playfair Display', serif;").text-left !{product_description}




            // Snippet
            hr.style5
            - var idx = 0; 
            .row
                each val in location_img
                    div(class="col-sm-4")
                        br
                        a(href="/product/"+category_url+"/"+product_id)    
                            img(src=location_img[idx] class="img-responsive" style="width:100%" alt="Image") 
                        - idx++

                else 
                    div(class="row")
                        div(class="col-sm-6")
                            h5(style="font-family: 'Playfair Display', serif; text-align: center")
                                b="Not Found Straps"

        // Snippet
        hr.style5
    //ini footer
    footer
        include footer.pug

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
